/* table {
    column-gap: 1000px;
    padding: 100px;
} */

th, td {
    padding: 10px;
}

.Time, .Activity {
    color: #2d7d98;
    font-weight: bold;
    /* display: block; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    
    /*word-spacing: 100px;*/
}

.Button {
    background-color: #7f0000;
    border: none;
    width: 7%;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5em;
    
}