<body>

  <div *ngIf="!editMode; then viewBlock else editBlock"></div>

  <ng-template #viewBlock>
    <table class="tableVBlock">
      <tr class="title">
        <th colspan="2">Daily Plan</th>
      </tr>
      <tr>
        <th class="timeHeader">Time</th>
        <th class="activityHeader">Activity</th>
      </tr>
      <tr *ngFor="let event of events">
        <td class="viewTime">{{event.time}}</td>
        <td class="viewActivity">{{event.activity}}</td>
      </tr>
    </table>
    <button class="button" (click)="editFunc()">Edit</button>
  </ng-template>

  <ng-template #editBlock>
    <div id="pw">Plan your workout!</div>
    <table class="tableEBlock">
      <tr>
        <th class="timeHeader">Time</th>
        <th class="activityHeader">Activity</th>
      </tr>
      <tr class="row" *ngFor="let event of events">
        <td class="time">{{event.time}}</td>
        <td class="activityCol">
          <input class="input" type="text" [(ngModel)]="event.activity" />
          <button class="acts" mat-menu-item [matMenuTriggerFor]="MatMenuTrigger">Acts</button>
          <button class="add" mat-menu-item (click)="addActivity(event.activity)">+</button>
          <mat-menu #MatMenuTrigger="matMenu">
            <div *ngFor="let act of activities" class="savedAct">
              <button class="act" mat-menu-item (click)="clickFunc(event, act)">
                {{act}}
              </button>
              <button class="del" mat-menu-item (click)="delActivity(act)">x</button>
              <br>
            </div>
          </mat-menu>
        </td>
      </tr>
    </table>
    <button class="button" (click)="savePlan()">Save</button>
    <button class="button" (click)="cancelFunc()">Cancel</button>
  </ng-template>

</body>
