<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/login">My Account</a>
      <a mat-list-item href="#">My Friends</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bruin FitnessPal</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <body>
      <div class="hero-bg">
          <section class="top"> 
              <header>
                  <a href="#">Bruin FitnessPal</a>
              </header>
              <h1>
                  <span>Innovation and Inspiring</span> The Revolutionized Workout Experience.
              </h1>
  
              <p>Logging in your personal workout moments, and connecting with other users. </p>
              
              <div class="form-container">
                  <form action="">
                      <div class="sign-in">
                          <label for="username">Username</label>
                          <input type="text" name="username" id="username" size=”15” maxlength=”30”>
                          <label for="password">Password</label>
                          <input type="text" name="password" id="password" size=”15” maxlength=”30”>
                          <p>If you haven't created an account yet, please click the "sign up" button below. </p>
                      </div>
                      <input type="button" value="Sign Up" href="#">
                  </form>
              </div>
          </section>
          
      </div>
  
      
  </body>
  </mat-sidenav-content>
</mat-sidenav-container>
