@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
.main{
    text-align: center;
    background-color: #2d7d98;
    padding-bottom: 5em;
    

}
body{
    font-family: 'Noto Sans TC', sans-serif;
}
header{
    
    font-weight: bold;
    font-size: large;
    padding-top: 1em;
    

}

.form-container {
    
    margin: 2em -1em 0;
    padding-top: 1em;
    padding-bottom: 1em;
    
    
}

label {
    color:white;
    font-weight: bold;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    
    font-size: 1.2em;


}

input[type=submit] {
    background-color: #F89104;
    border: none;
    width: 20%;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5em;
   
    
}
input[type=reset] {
    background-color: #F89104;
    border: none;
    width: 20%;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5em;
    
    
}

p{
    padding-top: 1em;
    
}