<body>

    <div *ngIf="!listMode; then logBlock else listBlock"></div>

    <ng-template #listBlock>
        <div id="title">Friends Page</div>
        <input type="text" [(ngModel)]="newFriend" placeholder="friend id"/>
        <button class="button" (click)="addFriend()">Add</button>
        <button class="button" (click)="clearFunc()">Clear</button>
        <span *ngIf="!friendExists" class="noFriend">Friend already added or does not exist.</span>
        <span *ngIf="friendIsYou" class="noFriend">You cannot add yourself as a friend.</span>
        <div id="friendsHeading">Friends</div>
        <ul id="friendList">
            <li id="friendRow" *ngFor="let friend of friends">
                <button id="friend" (click)="showProfile(friend)">{{friend}}</button>
                <button id="x" (click)="delFriend(friend)">x</button>
            </li>
        </ul>
    </ng-template>

    <ng-template #logBlock>
        <div id="friendLog">See what your friends have been up to today!</div>
        <div *ngIf="isActivity; then activityBlock else noActionBlock"></div>
        <ng-template #activityBlock>
            <table>
                <tr>
                    <th>Activity</th>
                    <th>Type</th>
                    <th>Time of Day</th>
                    <th>Duration (min)</th>
                    <th>Calorie Burned (cal)</th>
                </tr>
                <tr *ngFor="let activity of friendActivities">
                    <td>{{activity.activityName}}</td>
                    <td>{{activity.activityType}}</td>
                    <td>{{activity.timeOfDay}}</td>
                    <td>{{activity.calorieBurned}}</td>
                    <td>{{activity.duration}}</td>
                </tr>
            </table>
        </ng-template>
        <ng-template #noActionBlock>
            <div id="noActivity">Friend has no activity to show today.</div>
        </ng-template>
        <button class="button" (click)="back()">back</button>
    </ng-template>

</body> 
