<body base href='/'>
    <div class="hero-bg">
        <section class="top"> 
            <header>
                <a >Innovation and Inspiring</a>
            </header>
            <h1>
                <span></span> The Revolutionized Workout Experience.
            </h1>

            <p>Logging in your personal workout moments, and connecting with other users. </p>
            
            <div class="form-container">
                <form (submit)="loginUser($event)">
                    <div class="sign-in">
                        <label for="username">User ID (Account ID)</label>
                        <input type="text" name="username" id="username" size=”15” maxlength=”30” required>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" size=”15” minlength="6"maxlength=”20” required>
                        <p>Click the "sign in" button if you are ready</p>
                        <input type="submit" value="Sign in" >
                        <p>If you haven't created an account yet, please click the "sign up" button below. </p>
                    </div>
                    <input type="button"  value="Sign Up" routerLink="/signUp">
                    
                </form>
            </div>
        </section>
        
    </div>
</body>
