section.jumbotron.text-center
    .container
        h1 MongoDB Atlas Data Center
        p.lead.text-muted You've successfully connected to MongoDB server.
        p
            a.btn.btn-primary.m-2(href="https://charts.mongodb.com/charts-bruin-fitnesspal-okcsn/public/dashboards/5fbbfffa-232c-48cc-8094-3ba85e8a3535") Database Usage
            a.btn.btn-secondary.m-2(href="/api.html") Server API

