section.jumbotron.text-center
    .container
        h1 MongoDB Atlas Data Center
        p.lead.text-muted You've successfully connected to MongoDB server.
        p
            a.btn.btn-primary.m-2(href="#") Database Usage
            a.btn.btn-secondary.m-2(href="/api.html") Server API

